/* This styles the entire html body */
body {
  background-color: blueviolet;
  color: aliceblue;
  font-family: "Roboto";
}

/* this styles only list elements */
li {
  color: black;
}

/* this styles all link elements */
a {
  color: chartreuse;
}
