/* This styles the entire html body */
body {
  background-color: slategray;
  color: grey;
  font-family: "Roboto";
}

/* this styles only list elements */
li {
  color: grey;
}

/* this styles all link elements */
a {
  color: chartreuse;
}
